import de.jcup.code2doc.api.UseCase;
import de.jcup.code2doc.documentation.roles.Roles;

public class UC_210_CREATE_CONCEPT extends UseCase {

	@Override
	protected void doSetup(UseCaseSetup setup) {
		/*@formatter:off*/
		setup.
			setHeadline("Create a concept").
			setDescription("A developer creates a concept. This is done by "+""
					+ "creating a class which extends Concept").
			content().
				addCodeResource(CodeType.JAVA, "UC_210_CREATE_CONCEPT.java.example");
		
		setup.addRole(Roles.DEVELOPER.class);
		/*@formatter:on*/
	}
