
/* for this example we use a filled spec */
Specification spec = Factory.createFilledSpecification(); 
		
/* create a render and use it */
File output = new File("build","code2doc-documentation.pdf");
PDFSpecificationRenderer renderer = new PDFSpecificationRenderer(spec, output);
renderer.render();
